/* Class names prefixes */
$prefix: 'cc-' !default;

/* Colors / Theme */
$primaryColor:  #f8f9fa;
$secondaryColor:  #000000;
$tertiaryColor: #fff;
$quaternaryColor: #000;



/* #21252b     #e0e5ec
#f8f9fa;
#e0e5ec;
#9b0137;
$primaryColor:  #e0e5ec;
$secondaryColor:  #282c34;
$tertiaryColor: #096B72;
$quaternaryColor: #000;
73c990 73c990 6a717c
    */
